h1 {
    margin: -10px -10px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #490000;
    color: white;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #490000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}


.back {
    position: fixed;
    top: 95%;
    right: 95%;
}