<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'mast/course_detail.css' %}"/>

<head>
    <meta charset="UTF-8">
    <title>{{ course.name }}</title>
</head>
<body>


<h1> 
    <!-- Check if course name is a real name or dep###, print name: dep### if real name, only print dep### if not-->
{% with course.course.number|stringformat:"s" as num %}
    {% with course.course.department|add:num as name %}
        {% ifnotequal name|stringformat:"s" course.course|stringformat:"s" %}
            {{ course.course }}: 
        {% endifnotequal %}
    {% endwith %}
{% endwith %}
    {{ course.name }}
    {{ course.course.department }} {{ course.course.number}}, Section {{ course.section }} 

</h1>
<br>

    

<br>
2. {{ course.course }}


<br>
Semester: {{ course.semester }}
<br>
Time:
{% if not course.time_start and not course.time_end %}
    Unknown
{% else %}
    {{ course.time_start }} - {{ course.time_end }}
{% endif %}
<br>
Description:
{% if course.description %}
    {{ course.description }}
{% else %}
    No description.
{% endif %}
<br>
Prerequisites:<br>
<pre>{{ prerequisites }}</pre>
</body>
</html>