<!DOCTYPE html>
<html lang="en">

<h1>Student {{ student.sbu_id }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'mast:commit_edit' student.sbu_id %}" method="get">
    First Name: <input name="first_name" type="text" autocomplete="on" value={{ student.first_name }}> <br>
    <br>
    Last Name: <input name="last_name" type="text" autocomplete="on" value={{ student.last_name }}> <br>
    <br>
    Email: <input name="email" type="text" autocomplete="on" value={{ student.email }}> <br>
    <br>
    Graduated:
    <select name="graduated">
        {% if student.graduated %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select> <br>
    <br>
    Withdrew:
    <select name="withdrew">
        {% if student.withdrew %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select> <br>
    <br>
    Enrollment Semester:
    <select name="entry_season">
        {% if student.entry_semester_season == 'Winter' %}
            <option value = "Winter" selected>Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall">Fall</option>
        {% elif student.entry_semester_season == 'Spring' %}
            <option value = "Winter">Winter</option>
            <option value = "Spring" selected>Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall">Fall</option>
        {% elif student.entry_semester_season == 'Summer' %}
            <option value = "Winter">Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer" selected>Summer</option>
            <option value = "Fall">Fall</option>
        {% else%}
            <option value = "Winter">Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall" selected>Fall</option>
        {% endif %}
    </select>
    <input name="entry_year" type="number" autocomplete="on" value={{ student.entry_semester_year }}> <br>
    <br>
    Graduation Semester:
    <select name="graduation_season">
        {% if student.graduation_semester_season == 'Winter' %}
            <option value = "Winter" selected>Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall">Fall</option>
        {% elif student.graduation_semester_season == 'Spring' %}
            <option value = "Winter">Winter</option>
            <option value = "Spring" selected>Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall">Fall</option>
        {% elif student.graduation_semester_season == 'Summer' %}
            <option value = "Winter">Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer" selected>Summer</option>
            <option value = "Fall">Fall</option>
        {% else%}
            <option value = "Winter">Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall" selected>Fall</option>
        {% endif %}
    </select>
    <input name="graduation_year" type="number" autocomplete="on" value={{ student.graduation_semester_year }}> <br>
    <br>
    Requirement Version Semester:
    <select name="requirement_season">
        {% if student.requirement_semester_season == 'Winter' %}
            <option value = "Winter" selected>Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall">Fall</option>
        {% elif student.requirement_semester_season == 'Spring' %}
            <option value = "Winter">Winter</option>
            <option value = "Spring" selected>Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall">Fall</option>
        {% elif student.requirement_semester_season == 'Summer' %}
            <option value = "Winter">Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer" selected>Summer</option>
            <option value = "Fall">Fall</option>
        {% else%}
            <option value = "Winter">Winter</option>
            <option value = "Spring">Spring</option>
            <option value = "Summer">Summer</option>
            <option value = "Fall" selected>Fall</option>
        {% endif %}
    </select>
    <input name="requirement_year" type="number" autocomplete="on" value={{ student.requirement_semester_year }}> <br>
    <br>
    Major:
    <select name="major">
        {% for major in major_list %}
            {% if major.id == student.major.id %}
                <option selected value={{ major.id }}>{{ major }}</option>
            {% else %}
                <option value = {{ major.id }}>{{ major }}</option>
            {% endif %}
        {% endfor %}
    </select> <br>
    <br>
    Courses taken:
    <br>
    {% for record in classes_taken %}
        {% if record.student == student and record.status == 'Completed' %}
            {{ record.course }}
            <select name={{ record.id }}>
                {% for grade in grade_list %}
                    {% if grade == record.grade %}
                        <option selected value={{ grade }}>{{ grade }}</option>
                    {% else %}
                        <option value = {{ grade }}>{{ grade }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
        {% endif %}
    {% endfor %}
    <br>
    Schedule: [to be implemented] <br>
    <button type="submit">Done</button>
</form>
<br>


Courses in progress:
<br>
{% for record in classes_taken %}
    {% if record.student == student and record.status == 'In Progress' %}
        {{ record.course }}
        <form action="{% url 'mast:modify_course_in_progress' student.sbu_id record.id %}" method="get">
            <button type="submit" name="action" value="complete">Complete</button>
            <button type="submit" name="action" value="drop">Drop</button>
        </form>
        <br>
    {% endif %}
{% endfor %}

<br>

<form action="{% url 'mast:add_taken_course' student.sbu_id %}" method="get">
    <select name="course">
        {% for class in course_list %}
            <option value={{ class.id }}>{{ class }}</option>
        {% endfor %}
    </select>
    <select name="grade">
        {% for grade in grade_list %}
            <option value={{ grade }}>{{ grade }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add Course</button>
    <br>THIS WOULD BE GOOD TO TURN INTO A POP-UP FORM, ALSO MOVING IT INTO THE REST OF THE INFORMATION (above "Done") WOULD BE GREAT!<br>
</form>
<br>

<form action="{% url 'mast:edit' student.sbu_id %}" method="post">
    {% csrf_token %}
    <button type="submit">Reset</button>
</form>

</html>