<!DOCTYPE html>
<html lang="en">

<h1>Student {{ student.sbu_id }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'mast:commit_edit' student.sbu_id %}" method="get">
    Name: <input name="name" type="text" autocomplete="on" value={{ student.name }}> <br>
    Email: <input name="email" type="text" autocomplete="on" value={{ student.email }}> <br>
    Graduated:
    <select name="graduated">
        {% if student.graduated %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select> <br>
    Withdrew:
    <select name="withdrew">
        {% if student.withdrew %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select> <br>
    Major: [to be implemented] <br>
    Enrollment Semester: [to be implemented] <br>
    Graduation Semester: [to be implemented] <br>
    Requirement Version Semester: [to be implemented] <br>
    Courses taken: [to be implemented] <br>
    Schedule: [to be implemented] <br>
    <button type="submit">Done</button>
</form>

<form action="{% url 'mast:edit' student.sbu_id %}" method="post">
    {% csrf_token %}
    <button type="submit">Reset</button>
</form>

</html>