<!DOCTYPE html>
<html lang="en">
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mast/style.css' %}">

<h1>Majors</h1>

<a href="{% url 'mast:gpd_landing' %}">Back to landing</a> <br><br>

{% if major_list %}
    {% for major in major_list %}
        {{ major }}<br>
        {% if required_classes_for_major_list %}
            Required Classes:<br>
            {% for class in required_classes_for_major_list %}
                {% if class.major == major %}
                    {{ class.required_class }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
    {% endfor %}
{% else %}
    <p>No majors found.</p>
{% endif %}

</body>
</html>