<!DOCTYPE html>
<html lang="en">
<body>

{% load static %}

<h1>Majors</h1>

<a href="{% url 'mast:gpd_landing' %}">Back to landing</a> <br><br>

{% if major_list %}
    {% for major in major_list %}
        {{ major }}<br>
        {% if track_list %}
            Available Tracks:<br>
            {% for track in track_list %}
                {% if track.major == major %}
                    {{ track }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if course_list %}
            Offered Classes:<br>
            {% for class in course_list %}
                {% if class.department == major.department %}
                    {{ class }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
    {% endfor %}
{% else %}
    <p>No majors found.</p>
{% endif %}

</body>
</html>