<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mast/major_index.css' %}"/>

<head>
    <title>Major Index</title>
    <script>
        function overlay(name) {
            let all = document.getElementsByTagName("*");
            for (let i = 0, max = all.length; i < max; i++) {
                if (all[i].className === 'trackcourses') {
                    all[i].style.visibility = "hidden";
                }
            }
            u = document.getElementById(name);
            u.style.visibility = (u.style.visibility === "visible") ? "hidden" : "visible";
        }
    </script>
</head>

<body>

<h1>Majors</h1>

{% include "mast/navbar.html" %}

<div id="major_list">
    {% for major in major_list %}
        <h2>{{ major }}</h2>
        <br>
        {% for track in track_list %}
            {% if track.major == major %}
                <div id="{{ major.id }}_{{ track.id }}_button" onclick="overlay('{{ major.id }}_{{ track.id }}')"
                     class="btn">
                    {{ track }} - {{ major.requirement_semester }}
                </div>
                <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<div style="visibility: visible;" class="trackcourses">
    <h2>Track Information</h2>
</div>

{#{% for major in major_list %}#}
{#    {% for track in track_list %}#}
{#        {% if track.major == major %}#}
{#            <div id="{{ major.id }}_{{ track.id }}" style="visibility: hidden;" class="trackcourses">#}
{#                <h2>{{ track }}</h2>#}
{#                <br>#}
{#                {% for set in track_course_sets %}#}
{#                    {% if set.track == track %}#}
{#                        {{ set }}<br>#}
{#                        {{ set.size }} course(s) from the following:<br>#}
{#                        {% for course in courses_in_sets %}#}
{#                            {% if course.course_set == set %}#}
{#                                {% for c in course_list %}#}
{#                                    {% if c == course.course %}#}
{#                                        <a href="/mast/{{ c.department }}/{{ c.number }}">{{ c }}</a><br>#}
{#                                        {% for relation in course_relations %}#}
{#                                            {% if relation.primary_course == course or relation.related_course == course %}#}
{#                                                - {{ relation }}#}
{#                                            {% endif %} {# add a nested for loop that finds nested trackcoursesets #}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#{% endfor %}#}

</body>
</html>