<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mast/navbar.css' %}"/>

<body>
<ul class="navbar_container">
    <li class="navbar_item"><a class="navbar_link" href="{% url 'mast:student_index' %}">Students</a></li>
    <li class="navbar_item"><a class="navbar_link" href="{% url 'mast:major_index' %}">Programs</a></li>
    <li class="navbar_item"><a class="navbar_link" href="{% url 'mast:course_index' %}">Courses</a></li>
    <li class="navbar_item"><a class="navbar_link" href="{% url 'mast:enrollment_trends' %}">Enrollment Trends</a></li>
    <li class="navbar_item"><a class="navbar_link" href="{% url 'mast:rollover_semester_page' %}">Rollover</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Import</a>
        <div class="dropdown-content">
            <a class="dropdown_link" href="{% url 'mast:import_courses' %}">Courses(.csv)</a>
            <a class="dropdown_link" href="{% url 'mast:import_degree_requirements' %}">Requirements</a>
            <a class="dropdown_link" href="{% url 'mast:scrape_courses' %}">Courses(.txt)</a>
        </div>
    </li>
    <li class="navbar_item_logout right"><a class="navbar_link" href="{% url 'logout' %}">Logout</a></li>
</ul>
</body>
</html>