<!DOCTYPE html>
<html lang="en">

<h1>New Student</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'mast:commit_new_student' %}" method="get">
    Name: <input name="name" type="text" autocomplete="on"> <br>
    <br>
    Email: <input name="email" type="text" autocomplete="on"> <br>
    <br>
    Enrollment Semester:
    <select name="entry_season">
        <option value = "Winter">Winter</option>
        <option value = "Spring">Spring</option>
        <option value = "Summer">Summer</option>
        <option value = "Fall">Fall</option>
    </select>
    <input name="entry_year" type="number" autocomplete="on"> <br>
    <br>
    Graduation Semester:
    <select name="graduation_season">
        <option value = "Winter">Winter</option>
        <option value = "Spring">Spring</option>
        <option value = "Summer">Summer</option>
        <option value = "Fall">Fall</option>
    </select>
    <input name="graduation_year" type="number" autocomplete="on"> <br>
    <br>
    Requirement Version Semester:
    <select name="requirement_season">
        <option value = "Winter">Winter</option>
        <option value = "Spring">Spring</option>
        <option value = "Summer">Summer</option>
        <option value = "Fall">Fall</option>
    </select>
    <input name="requirement_year" type="number" autocomplete="on"> <br>
    <br>
    Major:
    <select name="major">
        {% for major in major_list %}
            <option value = {{ major.id }}>{{ major }}</option>
        {% endfor %}
    </select> <br> <br>

    <button type="submit">Add New Student</button>
</form>

</html>