<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Student</title>
</head>

<center>
    {% if error_message %}<strong>{{ error_message }}</strong>{% endif %}
    <br>
    <br>
    <div>
        <form action="{% url 'mast:commit_new_student' %}" method="get">
            <label>
                Stony Brook ID:
                <input name="sbu_id" type="number" autocomplete="on">
            </label>
            <br>
            <br>
            <label>
                First Name:
                <input name="first_name" type="text" autocomplete="on">
            </label>
            <br>
            <br>
            <label>
                Last Name:
                <input name="last_name" type="text" autocomplete="on">
            </label>
            <br>
            <br>
            <label>
                Email:
                <input name="email" type="text" autocomplete="on">
            </label>
            <br>
            <br>
            <label>
                Password:
                <input name="password" type="text">
            </label>
            <br>
            <br>
            <label>
                Enrollment Semester:
                <select name="entry_semester">
                    {% for s in semesters %}
                        <option value={{ s.id }}>{{ s }}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <br>
            <label>
                Major/Track:
                <select name="major_track">
                    {% for track in track_list %}
                        <option value={{ track.id }}>{{ track.major }} - {{ track.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            (Defaults to the latest requirement version.)
            <br>
            <br>
            <center>
                <input type="submit" value="Add New Student">
            </center>
        </form>
    </div>
</center>
</html>