<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mast/import_courses.css' %}"/>

<head>
    <title>Rollover Semester</title>

    <style>
        input[type=submit]:hover {
            background-color: dimgray;
        }
    </style>
</head>

<body>
<h1>Rollover Semester</h1>

{% if is_student %}
    {% include "mast/student_navbar.html" %}
{% else %}
    {% include "mast/navbar.html" %}
{% endif %}

<div style="font-size: 52px; font-weight: bold; text-align: center; padding-top: 30px;">
    {{ current_semester }} &#129046; {{ next_semester }}
</div>


<form action="{% url 'mast:rollover_semester' %}" style="text-align: center; padding-top: 70px;">
    <input
            onclick="return confirm('This will change the semester from {{ current_semester }} to {{ next_semester }}, modifying all current student schedules and course records. Are you sure?')"
            type="submit" value="Rollover">
    <br>
    <br>
    <center>
        <div style="max-width: 400px">
            The default grade given to rolled-over courses taken by students is a passing A. To change students' grades,
            edit their course records manually from their profile, or go to <i>Students&#129046;Modify&#129046;Upload
            File&#129046;Upload Course Data Only</i>
        </div>
    </center>
</form>


</body>
</html>