<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mast/datatables.css' %}"/>

<!--Data Table scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<head>
    <title>{{ student.sbu_id }} Schedule Generation</title>

    <style>
        body {
            background-color: #490000;
        }

        h1 {
            padding: 30px 30px 12px;
            margin: -10px -10px 40px;
            text-align: center;
            background-color: #490000;
            color: white;
        }

        button[type=submit] {
            color: #490000;
            border: none;
            background-color: white;
            padding: 3px 3px;
            text-align: center;
            display: inline-block;
            font-size: 12px;
            cursor: pointer;
        }

        .generate {
            background-color: #490000;
            border: none;
            width: 150px;
            color: white;
            padding: 10px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            cursor: pointer;
        }

        .generate:hover {
            color: #490000;
            background-color: #e0e0e0;
        }

        .offering:hover {
            color: #e0e0e0;
            background-color: #490000;
            cursor: pointer;
        }
    </style>

    <script>
        let preferences = [];

        function add_preference(course) {
            preferences.push(course);
            let div = document.getElementById('preferences');
            let new_text = '';
            for (let i = 0; i < preferences.length - 1; i++) {
                let rank = document.getElementById('rank' + String(i)).value;
                new_text += '<div style="padding-bottom:6px;">';
                if (rank === '0') {
                    new_text += '<select id=rank' + i + '><option selected value=0>None</option><option value=1>1 (Highest)</option><option value=2>2</option><option value=3>3 (Lowest)</option><option value=4>Don\'t offer section</option><option value=5>Don\'t offer course</option></select>';
                } else if (rank === '1') {
                    new_text += '<select id=rank' + i + '><option value=0>None</option><option selected value=1>1 (Highest)</option><option value=2>2</option><option value=3>3 (Lowest)</option><option value=4>Don\'t offer section</option><option value=5>Don\'t offer course</option></select>';
                } else if (rank === '2') {
                    new_text += '<select id=rank' + i + '><option value=0>None</option><option value=1>1 (Highest)</option><option selected value=2>2</option><option value=3>3 (Lowest)</option><option value=4>Don\'t offer section</option><option value=5>Don\'t offer course</option></select>';
                } else if (rank === '3') {
                    new_text += '<select id=rank' + i + '><option value=0>None</option><option value=1>1 (Highest)</option><option value=2>2</option><option selected value=3>3 (Lowest)</option><option value=4>Don\'t offer section</option><option value=5>Don\'t offer course</option></select>';
                } else if (rank === '4') {
                    new_text += '<select id=rank' + i + '><option value=0>None</option><option value=1>1 (Highest)</option><option value=2>2</option><option value=3>3 (Lowest)</option><option selected value=4>Don\'t offer section</option><option value=5>Don\'t offer course</option></select>';
                } else if (rank === '5') {
                    new_text += '<select id=rank' + i + '><option value=0>None</option><option value=1>1 (Highest)</option><option value=2>2</option><option value=3>3 (Lowest)</option><option value=4>Don\'t offer section</option><option selected value=5>Don\'t offer course</option></select>';
                }
                new_text += ' ' + preferences[i] + '<br></div>';
            }
            new_text += '<div style="padding-bottom:6px;">';
            new_text += '<select id=rank' + String(preferences.length - 1) + '><option value=0>None</option><option value=1>1 (Highest)</option><option value=2>2</option><option value=3>3 (Lowest)</option><option value=4>Don\'t offer section</option><option value=5>Don\'t offer course</option></select>';
            new_text += ' ' + preferences[preferences.length - 1] + '<br></div>';

            div.innerHTML = new_text
        }

        $(document).ready(function () {
            $('#generate_button').click(function () {
                let URL = "{% url 'mast:generate' student.sbu_id %}";
                let data = {'csrfmiddlewaretoken': '{{ csrf_token }}'};
                for (let i = 0; i < preferences.length; i++) {
                    let rank = document.getElementById('rank' + String(i)).value;
                    let key = 'preference' + String(i);
                    data[key] = preferences[i] + rank
                }
                data['start_time'] = document.getElementById('start_time').value;
                data['end_time'] = document.getElementById('end_time').value;
                data['courses_per_semester'] = document.getElementById('courses_per_semester').value;
                $.post(URL, data);
                window.location.href = "{% url 'mast:offered_schedules' student.sbu_id %}"
            })
        });

    </script>
</head>

<h1>Schedule Generation</h1>

<div style="background-color: white; padding: 16px;">
    <h2>Preferences:</h2>
    <div style="float:right; padding-bottom: 12px;">
        <a id="generate_button" class="generate">Generate</a>
        <br>
        <center><strong>or</strong></center>
        <a href="{% url 'mast:smart_suggest' student.sbu_id %}" class="generate">Smart Suggest</a>
    </div>
    <div style="padding-bottom: 6px;">
        Only choose <input id="courses_per_semester" type="number" min="1" max="6"> courses per semester.
        Only offer courses between <input id="start_time" type="time"> and <input id="end_time" type="time">
    </div>
    <h4>Course Preferences:</h4>
    <span id="preferences"></span>
    <br>
    <br>
    <table id="course_datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Semester</th>
            <th>Section</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>

        {% if course_list %}
            {% for course in course_list %}
                <tr>
                    <td onclick="add_preference('{{ course }}')">
                        <div class="offering" style="padding: 3px;">{{ course.course }}</div>
                    </td>
                    <td>{{ course.semester }}</td>
                    <td>{{ course.section }}</td>
                    <td>{{ course.time_start }}</td>
                    <td>{{ course.time_end }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tbody>

        </tbody>
    </table>
</div>

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#course_datatable').DataTable({})
        })
    </script>
{% endblock %}

</html>