<!DOCTYPE html>
<html lang="en">
<body>

{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/css/uikit.min.css" />
 
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.17/dist/js/uikit-icons.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'mast/style.css' %}">

<h1>Students</h1>

<a href="{% url 'mast:gpd_landing' %}">Back to landing</a> <br><br>

<form action="{% url 'mast:search' %}" method="get">
    <input name="name" type="text" placeholder="Name" autocomplete="on" value={{ name_search }}>
    <input name="sbu_id" type="text" placeholder="SBU ID" autocomplete="on" value={{ sbu_id_search }}>
    Major:
    <select name="major">
        {% for major in major_list %}
            {% if major.id == major_search %}
                <option selected value={{ major.id }}>{{ major }}</option>
            {% else %}
                <option value = {{ major.id }}>{{ major }}</option>
            {% endif %}
        {% endfor %}
    </select>
    Show Graduated Students:
    <select name="graduated">
        {% if graduated_search %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select>
    Show Withdrawn Students:
    <select name="withdrew">
        {% if withdrew_search %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select>
    <button type="submit">Search</button>
</form>

<br>

<a href="{% url 'mast:add_student' %}">Add Student</a><br>

{% if student_list %}
    <table class = "uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Satisfied-Pending-Unsatisfied</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
                <tr>
                    <td>{{student.sbu_id}}</td>
                    <td> <a href="{% url 'mast:detail' student.sbu_id %}">{{student.last_name}}, {{student.first_name}} </a></td>
                    <td>{{ student.satisfied_courses }} - {{ student.pending_courses }} - {{ student.unsatisfied_courses }}</td>
                </tr>
            {% endfor %}
        </tbody>
   
    
</table> 
{% else %}
    <p>No student records found.</p>
{% endif %}

</body>
</html>