<!DOCTYPE html>
<html lang="en">
<body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mast/style.css' %}">

<h1>Students</h1>

<a href="{% url 'mast:gpd_landing' %}">Back to landing</a> <br><br>

<form action="{% url 'mast:search' %}" method="get">
    <input name="name" type="text" placeholder="Name" autocomplete="on" value={{ name_search }}>
    <input name="sbu_id" type="text" placeholder="SBU ID" autocomplete="on" value={{ sbu_id_search }}>
    Major:
    <select name="major">
        {% for major in major_list %}
            {% if major.id == major_search %}
                <option selected value={{ major.id }}>{{ major }}</option>
            {% else %}
                <option value = {{ major.id }}>{{ major }}</option>
            {% endif %}
        {% endfor %}
    </select>
    Show Graduated Students:
    <select name="graduated">
        {% if graduated_search %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select>
    Show Withdrawn Students:
    <select name="withdrew">
        {% if withdrew_search %}
            <option value = "yes" selected>Yes</option>
            <option value = "no">No</option>
        {% else %}
            <option value = "yes">Yes</option>
            <option value = "no" selected>No</option>
        {% endif %}
    </select>
    <button type="submit">Search</button>
</form>

{% if student_list %}
    <ul>
    {% for student in student_list %}
        <a href="{% url 'mast:detail' student.sbu_id %}">{{ student.sbu_id }} - {{ student.name }}</a><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No student records found.</p>
{% endif %}

</body>
</html>